// font stacks

$font-url--google       : 'https://fonts.googleapis.com/css?family=Open+Sans';
$font-family--primary   : 'Open Sans', sans-serif;

// text

$base__font-size  : 16px;
$base__line       : 26px;

//descriptive color variables

$white            : #fff;
$black            : #000;
$cape-cod         : #354743;
$heathered-gray   : #B5B48D;
$maize            : #F5D29D;
$desert-sand      : #EDD1B3;
$barley-white     : #FFEECD;

$mejs-time-colors: (
  buffering : $heathered-gray,
  current   : $maize,
  hovered   : $heathered-gray,
  float     : $heathered-gray,
);
//functional color variables

$color-primary      : $cape-cod;
$color-secondary    : $maize;

$color-text-light    : $heathered-gray;
$color-text-base     : $cape-cod;
$color-text-dark     : $black;
$color-text-captions :$barley-white;
$color-text-mejs     :$barley-white;

$color-highlight    : $maize;
$color-body         : $barley-white;

// breakpoints

$brkpoint--sm     : 1px;
$brkpoint--md     : 768px;
