p {
  font-family: $font-family--primary;
  font-size: $base__font-size;
  line-height: $base__line;
  color: $color-text-base;
}

.highlight {
    background: $color-highlight;
}

.mouseover {
  color: $color-text-light;
}
