p {
  font-family: $font-family--primary;
  font-size: $base__font-size;
  line-height: $base__line;
  color: $color-text-base;
}

.highlight {
  font-weight: bold;
  color: $color-text-dark;
}

.mouseover {
  background: $color-text-mouseover;
}

.faded {
  color: $color-text-light;
}
