.mejs__inner .mejs__controls, .mejs__captions-button>.mejs__captions-selector  {
  background: $color-primary;
}
.mejs {
  @include e(time){
    color: $color-text-mejs;
    font-size: em(18px);
    @include mejs-colors($mejs-time-colors);
  }
  @include e(captions){
    @include mejs(layer){
      color: $color-text-captions;
      bottom: em(10px);
      background: transparent;
      font-family: $font-family--primary;
    }
    @include mejs(text){
      background: $color-primary;
      box-shadow: none;
    }
    @include mejs(selector){
      @include mejs(list){
        @include mejs(item){
          color: $color-text-mejs;
        }
      }
    }
  }
}
